<div class="col-md-4">
  <h3>World of Warcraft</h3>
  <div>Gnomes: <span id="gnomes"><%= @nicks.gnomes %></span></div>
  <div>Orcs: <span id="orcs"><%= @nicks.orcs %></span></div>
  <div>Night Elves: <span id="night_elves"><%= @nicks.night_elves %></span></div>
</div>
